@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
	:root {
		--default-text-color: #444;

		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica, Arial,
			sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';

		font-size: 18px;
		color: var(--default-text-color);
		line-height: 1.5;
		box-sizing: border-box;
		-webkit-tap-highlight-color: transparent;
	}

	@keyframes highlight {
		0% {
			background-color: #fff4c2;
		}

		100% {
			background-color: initial;
		}
	}

	.highlight-animation {
		animation: highlight 1s linear 1;
		animation-fill-mode: forwards;
	}
}
